body{
  background-color: lightgoldenrodyellow;
}

h2{
  color: black;
  font-style: italic;
  text-align: center;
  font-size: 5rem;
  
  font-family:serif;
  text-decoration: underline;
  margin-top: 80px;
}

.container{
  background-color: whitesmoke;
  max-width: 1500px;
  margin :  auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.box{
  background-color: black;
  width:28%;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px burlywood;
}

h5{
  color: lightgoldenrodyellow;
  font-size: 20px;
  text-align: center;
  font-family:  serif;
  text-decoration: underline burlywood;
}

p{
  color: lightgoldenrodyellow;
  font-size: 22px;
  font-family: serif;
}

img{
  width: 300px;
  height: 200px;
  object-fit: contain;
}

h4{
  text-align: left;
  font-family: serif;
  color: lightgoldenrodyellow;
}