nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #1d1f27;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .nav__left {
    flex: 1;
    font-family: serif;
  }
  
  .nav__middle {
    color: gray;
  
    flex: 1;
  }
  
  .input__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 25px;
    background-color: white;
  }
  
  .input__wrapper input {
    width: 100%;
    padding: 0 10px;
    border: none;
    display: block;
  }
  
  .input__wrapper input:focus,
  input:active {
    outline: none;
  }
  
  .nav__right {
    flex: 1;
    margin-left:200px;
  }
  
  